<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bookstore</title>
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Lacquer|Nunito&display=swap" rel="stylesheet">

</head>

<body>
  <h1 class="title">List of books</h1>

  <div class="list">
    <div class="book" *ngFor="let book of books$ | async">
      <h1>{{book.name}}</h1>
      <h2>{{book.year}}</h2>
      <h3>Written by: {{book.author.name}} ({{book.author.age}})</h3>
      <h4>Nationality: {{book.author.nationality.name}}</h4>
      <img *ngIf="book.author.married"
        src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fsr.photos2.fotosearch.com%2Fbthumb%2FCSP%2FCSP318%2Fk3189376.jpg&f=1"
        alt="married">
    </div>
  </div>

</body>

</html>